<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'gorillaz_canopee.png', class: "avatar-large" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

          <li class="nav-item">
            <%# <%= link_to "Plants", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
               <% if user_signed_in? %>
                    <a href="<%= edit_user_registration_path %>">Account</a>
                    <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
                    <%# <i class="fa-solid fa-bars"></i> %>
                <% else %>
                    <%= link_to "Sign In", new_user_session_path, class:"navbar-item, btn btn-warning" %>
                    <%= link_to "Sign up", new_user_registration_path, class:"navbar-item, btn btn-warning"%>
                <% end %>
      </ul>
    </div>
  </div>
</div>
