<div class="navbar-bottom-container">
  <div class="navbar-bottom align-items-center d-flex justify-content-around">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to gardens_path do %>
      <i class="fa-solid fa-seedling"></i>
    <% end %>
    <%= link_to tasks_path do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
    <% if user_signed_in?%>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you awnt to logout?"} do%>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <% end %>
    <div class="notification-dot"></div>
  </div>
</div>
