<div data-controller="navigation"
     class="text-center text-light-yellow">
  <div class="home-splashscreen-background position-fixed top-0 bottom-0 start-0 end-0 p-5 scale-1-1"
       data-navigation-target="logo"
       data-action="click->navigation#goToNextCover">
  </div>
  <div class="position-fixed top-0 bottom-0 start-0 end-0 d-none p-5 bg-cover"
       data-navigation-target="cover1"
       data-action="click->navigation#goToNextCover2"
       style="background-image: url(<%= image_path('cover.png', alt: 'Cover Photo') %>)">
    <div class="h-100 w-100 d-flex flex-column justify-content-between align-items-center">
      <h1>Rencontrez <br> la plante qui vous correspond !</h1>
      <h3 class="text-centered">
        Hello ! <br> Ici on vous aide à trouver
        la plante qui est faite pour vous
        en fonction de vos goûts, de votre
        localisation et du temps que vous
        souhaitez lui accorder !
      </h3>
      <%= image_tag 'arrow.png', alt: 'arrow home'%>
    </div>
  </div>
  <div class="position-fixed top-0 bottom-0 start-0 end-0 d-none p-5 bg-cover"
       data-navigation-target="cover2"
       data-action="click->navigation#goToNextCover3"
       style="background-image: url(<%= image_path('cover.png', alt: 'Cover Photo') %>)">
    <div class="h-100 w-100 d-flex flex-column justify-content-between align-items-center">
    <h1>Pas de pot adapté ?</h1>
    <h3 class="text-centered">
      Pas de soucis on a pensé à tout.
      On a imaginé un pot adapté à tous
      les rebords de fenêtres citadins,
      en plastique recyclé, fabriqué en
      France, et disponible dans 4
      coloris !
    </h3>
    <%= image_tag 'arrow.png', alt: 'arrow home' %>
    </div>
  </div>
  <%= link_to gardens_path,
              data: {
                navigation_target: "cover3"
              },
              class: "position-fixed top-0 bottom-0 start-0 end-0 d-none p-5 text-light-yellow bg-cover",
              style: "background-image: url(#{ image_path('cover.png', alt: 'Cover Photo') })" do %>
    <div class="h-100 w-100 d-flex flex-column justify-content-between align-items-center">
      <h1> Pas la main verte ?</h1>
      <h3 class="text-centered">
        Aucun problème, on
        vous aidera à vous occuper de votre plante
        en vous rappelant de l'arroser, de la rempoter, de la tailler etc.
        On vous accompagnera au fil des saisons
        pour chaque phase clé de leur
        épanouissement en vous envoyant tout ce dont elle a besoin !
      </h3>
      <h4 class="btn button_next_step p-2">JE DECOUVRE !</h4>
    </div>
  <% end %>
</div>
