<div class="wrapper registration-container">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="login-form mx-auto">
        <h2>Me connecter à mon compte</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-group">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        label_html: { class: 'control-label' } %>
          </div>
          <div class="form-group">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "mot-de-passe" },
                        label_html: { class: 'control-label' } %>
          </div>
          <div class="form-group">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions links-container">
            <%= f.button :submit, "Me connecter" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
