 <div class="d-flex flex-column min-full-screen">
  <div class="garden-plant-image" style="margin-bottom: -72px;">
    <%= cl_image_tag @garden_plant.plant.photo.key, height: 387, class:"image-card" %>
  </div>
  <div class="info-card flex-grow-1-1-0">
    <div class="container text-center mt-3">
      <h1><%= @garden_plant.nickname %></h1>
      <p> J’ai grandi en Ile de France chez Maurice Boyauval mon horticulteur. </p>
      <h4><%= @garden_plant.plant.name %></h4>
      <hr>
      <h5> <%= render "review_card" %></h5> <br>
        <div class="health-bar-container">
          <div class="health-bar"
                style="
                  width:<%= @garden_plant.score %>%;
                  background-color: <%= color_level(@garden_plant.score) %>;
                ">
          </div>
            <span class="health-bar-score">
              <%= @garden_plant.score %>%
            </span>
          </div>
          <span> </span>

        </div>

        <div class="tasks-list">
          <% @garden_plant.tasks.near_future.each do |task| %>
              <%# if task.done_time.nil? && task.due_date.year == Time.now.year && task.due_date.month == Time.now.month %>
                <div class="mb-2">
                  <%= simple_form_for task, url: update_done_task_path(task) , method: :patch, html: { class:"form-activitiy" } do |f| %>
                    <p class="m-0 form-left"><%= task.activity %></p>
                    <div class="form-center">
                      <%= button_tag class: "btn-fait d-flex justify-content-center align-items-center" do %>
                        <i class="fa-solid fa-check"></i>
                      <% end %>
                    </div>
                    <p class="m-0 form-right"><%= task.due_date.day%>/<%= task.due_date.month %>/<%= task.due_date.year %></p>
                  <% end %>
                </div>
              <%# end %>

          <% end %>
        </div>


      <%= link_to 'Retour à mon jardin', garden_path(@garden_plant.garden), class: "back d-block mt-5 text-center" %>
      <div class="filler bg-dark-green"></div>
  </div>
</div>
