 <div class="min-full-screen">
  <%= cl_image_tag @garden_plant.plant.photo.key, height: 200, class:"image-card" %>
  <div class="container text-center mt-3">
  </div>
  <div class="info-card">
    <div class="container text-center mt-3">
      <h1><%= @garden_plant.nickname %></h1>
      <p> Je suis <%= @garden_plant.plant.name %> et j’ai grandi en Ile de France chez Maurice Boyauval mon horticulteur. </p>
      <h4><%= @garden_plant.plant.name %></h4>
      <h5> <%= render "review_card" %></h5> <br>
        <div class="health-bar-container">
          <div class="health-bar" style="width:<%= @garden_plant.score %>%; background: <%= color_level(@garden_plant.score) %>">
          </div>
            <span class="health-bar-score">
              <%= @garden_plant.score %>
            </span>
          </div>
          <span> </span>

        </div>

        <div class="tasks-list">
          <% @garden_plant.tasks.each do |task| %>
              <% if task.done_time.nil? %>
                <div >
                  <%= simple_form_for task, url: update_done_task_path(task) , method: :patch, html:{class:"form-activitiy"} do |f| %>
                    <p><%= task.activity %></p>
                      <%= button_tag class: "btn-fait" do %>
                        <i class="fa-solid fa-check"></i>
                      <% end %>
                    <p> <%= task.due_date.day%>/<%= task.due_date.month %>/<%= task.due_date.year %></p>
                  <% end %>
                </div>
              <% end %>
          <hr>
          <% end %>
        </div>


      <%= link_to 'Retour à mon jardin', garden_path(@garden_plant.garden), class: "back" %>
      <div class="filler bg-dark-green"></div>
  </div>
</div>
