<div class="container text-center mt-3">
  <h1><%= @garden_plant.nickname %></h1>
  <%= cl_image_tag @garden_plant.plant.photo.key, height: 200, width: 400 %>
  <h2> Qui suis-je ?</h2>
  <p><%= @garden_plant.plant.name %></p>
  <% @garden_plant.tasks.each do |task| %>
  <ul class="tasks-list">
    <li>
      <div class="health-bar-container">
        <span class="health-bar-score">
          <%= @garden_plant.score %> %
        </span>
        <div class="health-bar" style="width:<%= @garden_plant.score %>%; background: <%= color_level(@garden_plant.score ) %>">
        </div>
      </div>
    </li>
    <li>
      <%= task.activity %>
    </li>
    <li>
      <%= task.due_date %>
    </li>
    <hr>
  </ul>
  <% end %>
  <%= link_to 'Back to Garden', gardens_path, class: "btn btn-primary" %>
</div>
