<div data-controller="garden-form">
  <%= simple_form_for @garden do |f| %>
    <div class="m-2">
      <%= f.input :name,
                  label:false,
                  wrapper_html: {
                    class: "card_plant_small",
                    data: {
                      garden_form_target: 'input'
                    }
                  },
                  input_html: {
                    placeholder: "Nom"
                  } %>
        <span data-action="click->garden-form#goToNextQuestion">Suivant</span>





        <div class="d-none card_plant_small" data-garden-form-target='input' >
          <%= f.input :light,
                      label:false,
                      input_html: {
                        placeholder: "Luminosité"
                      } %>
          <div style= "text-align: center">
            <%= button_tag 'Valider', type: :submit, class: "button_next_step" %>
          </div>
        </div>

        <div class="d-none card_plant_small" data-garden-form-target=‘input’ >
          <h3 style=“text-align: center”>Dimension</h3>
          <%= f.input :size,
                      label:false,
                      input_html: false%>
          <div class=“dimension-info”>
            <%= button_tag "Petit", type: :submit, class: "button_next_step" %>
            <%= button_tag "Moyen", type: :submit, class: "button_next_step" %>
            <%= button_tag "Grand", type: :submit, class: "button_next_step" %>
          </div>
        <div style= “text-align: center”>
          <%= button_tag "Valider", type: :submit %>
        </div>
        </div>

        <div class="d-none card_plant_small" data-garden-form-target='input'>
            <div class="card-avatar ">
              <div class="fake-input">
                <div class="avatar">
                    <%= image_tag asset_path('pas_du_tout'), alt: "Avatar" %>
                </div>
                <div class="card-text">
                    <p>Pas du tout </p>
                </div>
              </div>

              <div class="fake-input">
                <div class="avatar">
                  <%= image_tag asset_path('bcp.png'), alt: "Avatar" %>
                </div>
                <div class="card-text">
                    <p>Un peu</p>
                </div>
              </div>

              <div class="fake-input">
                <div class="avatar">
                    <%= image_tag asset_path('bcp.png'), alt: "Avatar" %>
                </div>
                <div class="card-text">
                    <p>Beaucoup </p>
                </div>
              </div>

              <div class="fake-input">
                <div class="avatar">
                    <%= image_tag asset_path('passion.png'), alt: "Avatar" %>
                </div>
                <div class="card-text">
                    <p>
                    Passionnément</p>
                </div>
              </div>

              <div class="fake-input">
                <div class="avatar">
                    <%= image_tag asset_path('folie.png'), alt: "Avatar" %>
                </div>
                <div class="card-text">
                    <p>A la folie </p>
                </div>
              </div>


          <%= f.input :care_willing,
                      label: false,
                      input_html: {
                        placeholder: "Soins"
                      } %>
          <div style="text-align: center">
            <%= button_tag 'Valider', type: :submit, class: "button_next_step" %>
          </div>
        </div>


        <div class="d-none card_plant_small" data-garden-form-target='input' >
          <%= f.input :location,
                    label:false,
                    input_html: {
                      data: {
                        address_autocomplete_target: "address"
                      },
                      class: "d-none card_plant_small"
                    },
                    wrapper_html: {
                      class: "",
                      data: {
                        garden_form_target: 'input',
                        controller: "address-autocomplete",
                        address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
                      }
                    } %>
        </div>



        <%#= f.input :size,
                    label:false,
                    wrapper_html: {
                      class: "d-none card_plant_small",
                      data: {
                        garden_form_target: 'input'
                      }
                    },
                    input_html: {
                      placeholder: "Taille"
                    } %>
        <%#= f.input :care_willing,
                    label:false,
                    wrapper_html: {
                      class: "d-none card_plant_small",
                      data: {
                        garden_form_target: 'input'
                      }
                    },
                    input_html: {
                      placeholder: "Soins"
                    } %>
        <%#= f.input :location,
                    label:false,
                    input_html: {
                      data: {
                        address_autocomplete_target: "address"
                      },
                      class: "d-none card_plant_small"
                    },
                    wrapper_html: {
                      class: "d-none",
                      data: {
                        garden_form_target: 'input',
                        controller: "address-autocomplete",
                        address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
                      }
                    } %>
      <div style= "text-align: center">
        <%= button_tag 'My selection', type: :submit, class: "button_next_step" %>
      </div>
    </div>
  <% end %>
</div>
