<div data-controller="garden-form">
  <%= simple_form_for @garden do |f| %>
    <div class="m-2">
      <div data-garden-form-target='input' id="name-and-light">
        <h3>Nom</h3>
        <%= f.input :name,
                    label:false,
                    wrapper_html: {
                      class: "card_plant_small"
                    } %>

        <div class="card_plant_small">
          <h3>Luminosité</h3>
          <%= f.input :light,
                      as: :radio_buttons,
                      label:"",
                      required: false,
                      collection: [["Ombre", 0], ["Mi-ombre", 1], ["Ensoleillé", 2]],
                      input_html: { class: "light-selector" },
                      item_wrapper_class: "light-item",
                      label_method: lambda { |(label, _value)| render("gardens/labels/light", label: label) }
          %>  
        </div>
      </div>

      <div class="d-none card_plant_small" data-garden-form-target='input' id="size">
        <h3>Dimension</h3>
        <%= f.input :size,
                    as: :radio_buttons,
                    label: "",
                    required: false,
                    collection: [["petit", 0], ["moyen", 1], ["grand", 2]],
                    input_html: { class: "size-selector" },
                    item_wrapper_class: 'size-item' %>
                    
      </div>

      <div class="d-none card_plant_small" data-garden-form-target='input' id="care-willing">
        <h3>Soins</h3>
        <div class="card-avatar">
          <%= f.input :care_willing,
            label: "",
            required: false,
            as: :radio_buttons,
            collection: [["Pas du tout", 0], ["Un peu", 0], ["Beaucoup", 1], ["Passionnément", 1], ["A la folie", 2]],
            input_html: { class: "d-none care-willing-selector" },
            label_method: lambda { |(label, _value)| render("gardens/labels/care_willing", label: label) } %>
        </div>
      </div>

      <div class="d-none card_plant_small" data-garden-form-target='input' id="location">
        <h3>Ma ville</h3>
        <%= f.input :location,
                  label:false,
                  input_html: {
                    data: {
                      address_autocomplete_target: "address"
                    },
                    class: "d-none card_plant_small"
                  },
                  wrapper_html: {
                    class: "",
                    data: {
                      garden_form_target: 'input',
                      controller: "address-autocomplete",
                      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
                    }
                  } %>
      </div>

      <%#= f.input :location,
                  label:false,
                  input_html: {
                    data: {
                      address_autocomplete_target: "address"
                    },
                    class: "d-none card_plant_small"
                  },
                  wrapper_html: {
                    class: "d-none",
                    data: {
                      garden_form_target: 'input',
                      controller: "address-autocomplete",
                      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
                    }
                  } %>
      
      <span data-action="click->garden-form#goToNextQuestion" class="cursor-pointer">Suivant</span>

      <div style= "text-align: center">
        <%= button_tag 'Suivant', type: :submit, class: "d-none button_next_step", data: { garden_form_target:'button'}%>
      </div>
    </div>
  <% end %>
</div>

