
<div class="row">
    <div class="col 3 p-3">
      <h2><%= garden.name %></h2>
      <p><strong>Light:</strong> <%= garden.light %></p>
      <p><strong>Size:</strong> <%= garden.size %></p>
      <p><strong>Care Willing:</strong> <%= garden.care_willing %></p>
      <p><strong>Location:</strong> <%= garden.location %></p>
      <p><strong>Latitude:</strong> <%= garden.latitude %></p>
      <p><strong>Longitude:</strong> <%= garden.longitude %></p>
      <p><strong>Plant name test</strong></p>
    </div>
</div>
