<div class="wrapper">
  <div class="container">
    <h2 class="page-title">Mes jardins</h2>
    <p class="page-description">Voici ta sélection actuelle !</p>
    <p class="gardens-counter"></p>
      <% @gardens.each do |garden| %>
        <div class="card-garden p-3 m-3">
          <% if garden.garden_plants.none? %>
            <p>Vous n'avez pas encore de plante 😭</p>
          <% end %>
          <%= link_to garden_path(garden), class: 'garden-info' do %>
            <p><%= garden.name %></p>
            <p><%= garden.location %></p>
          <% end %>
          <%= link_to garden_path(garden), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= link_to garden_path(garden) do %>
            <img src="<%= cl_image_path garden.garden_plants.first.plant.photo.key, height: 80, crop: :fill %>" alt="A plant" class="first-plant">
          <% end %>
        </div>
      <% end %>
      <div class="text-center">
        <%= link_to new_garden_path, class:"link-of-the-plus" do %>
          <div class="circle-of-the-plus">
            <i class="fa-solid fa-plus"></i>
          </div>
        <% end %>
      </div>
  </div>
</div>
