<h1>ALL Gardens</h1>

<div class="row">
    <% @gardens.each do |garden| %>
    <div class="col 3 p-3">
      <div class="col 3 p-3">
          <%= garden.name %>
          <%= garden.light %>
          <%= garden.size %>
          <%= garden.care_willing %>
          <%= garden.location %>
          <%= garden.latitude %>
          <%= garden.longitude %>
          <%= garden.color %>
      </div>

          <%= link_to 'Edit', edit_garden_path(garden), class:"btn btn-primary" %>
          <%= link_to 'Show', garden_path(garden), class:"btn btn-primary" %>

    </div>
  <% end %>
</div>
