<div class="wrapper">
  <div class="container">
    <h1>ALL Gardens</h1>

    <div class="row">
      <% @gardens.each do |garden| %>
        <div class="col-3">
          <div class= "card_garden">
            <div class="card p-3">
              <div class="card-body">
                <strong>Name:</strong> <%= garden.name %><br>
                <strong>Light:</strong> <%= garden.light %><br>
                <strong>Size:</strong> <%= garden.size %><br>
                <strong>Care Willing:</strong> <%= garden.care_willing %><br>
                <strong>Location:</strong> <%= garden.location %><br>
                <strong>Latitude:</strong> <%= garden.latitude %><br>
                <strong>Longitude:</strong> <%= garden.longitude %><br>
              </div>
              <div>
                <%= link_to 'New', new_garden_path, class: "btn btn-primary btn-sm btn-flat d-inline-block " %>
                <%= link_to 'Edit', edit_garden_path(garden), class: "btn btn-success btn-sm btn-flat d-inline-block" %>
                <%= link_to 'Show', garden_path(garden), class: "btn btn-warning btn-sm btn-flat d-inline-block" %>
              </div>
            </div> 
          </div>
        </div>
      <% end %>
  </div>
</div>

