<div class="container">
    <% @garden.garden_plants.each do |garden_plant| %>
    <%= link_to garden_plant_path(garden_plant) do %>
        <div class="card-category">
          <div>
            <h2><%= garden_plant.nickname %></h2>
            <%= cl_image_tag garden_plant.plant.photo.key, height: 200, class:"image-card" %>
          </div>
          <div>
            <%= garden_plant.pot_color %>
            <%= garden_plant.plant.name %></p>
            <%= garden_plant.plant.content %></p>
          </div>
        </div>
          <%= link_to "Delete", garden_plant_path(garden_plant), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "card-remove-link" %>
      <% end %>
    <% end %>
    <%= link_to 'Back to Garden', gardens_path, class: "btn btn-primary" %>
</div>
