<!DOCTYPE html>
<html class="no-overscroll-behavior <%= "position-fixed" if params[:controller] == "gardens" && params[:action] == "select_plants" %> ">
  <head>
    <%= render 'shared/ios_pwa_links' %>
    <%# HTML setup - Layout %>
    <title><%= meta_title %></title>
    <%= favicon_link_tag "icons/favicon-32x32.png", rel: "icon", type: "image/png" %>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="<%= "position-fixed" unless current_page?(tasks_path) || (controller_name == "gardens" && action_name == "show") || (controller_name == "gardens" && action_name == "index") || (controller_name == "garden_plants" && action_name == "show") %>">
    <%= yield %>
    <%= render "shared/navbar_bottom" unless action_name == "home" %>
  </body>
</html>
